html{
    scroll-behavior: smooth;
}
:root{
    --width: 100vw;
}
body{
    background-color: navy;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.Hs{
    position: relative;
    float: left;
    width: var(--width);
    aspect-ratio: 6/3;
    background-image: url("light4law\ image\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    left: 0px;
    border: none;
    filter:brightness(50%)
}
.Hs1{
    text-align: center;
    line-height: 75px;
    font-size: 75px;
    margin-top: 200px;
    margin-bottom: 0px;
    color: rgb(252, 248, 3);
    font-family: 'Nunito', sans-serif;
}
.Hs2{
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    margin-top: 1px;
    color:rgb(255, 254, 254);
    font-family: 'Nunito', sans-serif;
}
.Hs4{
    float:left;
    width:100vw:
    height:30vw;
    background-color:navy;
    color:gold;
}
    
    



